.review{
    
   
    text-align: start;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #f1f5f8;
    border: #f1f5f8 1px solid;
    box-shadow: inset;
    margin-bottom: 40px;
}

