.product-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}
.product-detail{
   width: 40%;
}
.product-detail p{
    font-size: 25px;
    font-weight: 500;
}
.product-detail h1{
    font-size: 70px;
    text-shadow: 5px 5px 10px rgb(39, 36, 36);
}
.product-title{
    color: rgb(0, 132, 255);
}

.product-img img{
    width: 450px;
    height: 400px;
    border-radius: 10px;
}


.review-container{
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
   
}

.review-container h1{
    font-size: 30px;
    
}

.review-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
    grid-gap:40px
}
.see-all-btn{
    background-color: #799ad1;
    border: none;
    padding: 20px 30px;
   
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    color: whitesmoke;
    text-decoration: none;
}

.see-all-btn:hover{
    background-color: #3f77d6;
    cursor: pointer;    
    
}