.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #f1f5f8; */
    border-radius: 10px;
    margin: 0px 70px;
    padding: 0;
}

.header-title {
    color: #1e90c2;
    font-size: 40px;
    padding-left: 30px;

}

.link a {
    text-decoration: none;
    color: #1e90c2;
    margin-left: 15px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    padding-right: 30px;


}

.link a:hover {
    color: #1b4388;

}